{% extends __contenido ? "/__base/contenido-minimo.html" : "/__base/base.html" %}

{% block titulo_contenido %}
      <h1>
        Error 403
        <small>Area restringida.</small>
      </h1>
{% endblock %}

{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">403 error</li>
      </ol>
{% endblock %}

{% block contenido %}
    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-yellow">403</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i>Acceso no permitido.</h3>
          <p>
            Area restringida.
          </p>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
{% endblock %}