{% extends __contenido ? "/__base/contenido-minimo.html" : "/__base/base.html" %}

{% block titulo_contenido %}
      <h1>
        Error 404
        <small>Seccion no encontrada.</small>
      </h1>
{% endblock %}

{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">404 error</li>
      </ol>
{% endblock %}

{% block contenido %}
    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <img src="{{ public('/Generales/img/404.png') }}" alt="404" class="img-responsive img-rounded center-block">
        <div class="text-center">
          <h3><i class="fa fa-warning text-yellow"></i> Oops! Seccion no encontrada.</h3>
          <p>
            No se pudo localizar la seccion a la que deseas acceder.
          </p>

        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
{% endblock %}